@charset "utf-8";

/* nav */
.fa-times{
  display:none;
}

/* about_me */

@media (max-width:768px){
  /* nav */
  .logo{
    transform: scale(0.8);
    margin-left: -5px;
  }

  /* about */
  .about_me p{
    width:260px; line-height:30px;
  } 
  .about_me_tit p::after{
    top:60px; left:0;
  }
  .about_me_list{
    padding:0 30px;
  }
  .about_me_list .list_num{
    width:210px; padding-bottom:60px;
  }

  /* skill */
  .skill_list{
    width:100%;
  }
}
