@charset "utf-8";

@media (max-width:768px){
  /* nav */
  .logo{
    transform: scale(0.8);
    margin-left: -5px;
  }

  .work_list_tit{
    width:100%;
    padding-bottom:15px;
  }

  .work_list_txt {
    width: 100%;
  }
}